
/* ##### TABS TOOLBAR ##################################### */

/* Hide main tabs toolbar */
#TabsToolbar {
	visibility: collapse;
}





/* ##### URL BAR ########################################## */

/* Hide (i) in URL bar */
#identity-icon {
	width: 0 !important;
}
/* Adjust lock icon to be closer to edge */
#identity-box {
	padding-inline-start: 2px !important;
}
/* Custom bindings.xml in same folder as userChrome, for simple URL */
#urlbar {
	-moz-binding: url("bindings.xml#urlbar") !important;
}
/* Center URL */
#urlbar .urlbar-input-box {
	text-align: center;
	margin-bottom: 1px;
}
/* Bookmark padding */
toolbarbutton.bookmark-item:not(.subviewbutton) {
	padding: 1px 6px !important;
}
/* Get rid of bookmark icon */
.bookmark-item .toolbarbutton-icon {
	display: none;
}





/* ##### SIDEBAR ########################################## */

/* Sidebar min and max width removal */
#sidebar {
	max-width: none !important;
	min-width: 0px !important;
}


/* Remove below if not using TreeStyleTab extension */

/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
	display: none !important;
}
/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
	visibility: collapse;
}

/* Shrink sidebar until hovered, when using Tree Style Tab. */
:root {
	--thin-tab-width: 30px;
	--wide-tab-width: 200px;
}
#sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
	min-width: var(--wide-tab-width) !important;
	max-width: none !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
	overflow: hidden !important;
	position: relative !important;
	transition: all 200ms !important;
	min-width: var(--thin-tab-width) !important;
	max-width: var(--thin-tab-width) !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover,
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar {
	transition: all 200ms !important;
	min-width: var(--wide-tab-width) !important;
	max-width: var(--wide-tab-width) !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
	margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
}
